{% extends 'news_base.html' %}
{% load staticfiles %}
{% block title %}资讯{% endblock %}
{% block content %}
<div style="margin-left: 88px; padding: 10px 40px 40px 40px">
    <!--推荐-->
    <div id="recommend"> </div>
    <!--肿瘤科-->
    <div id="cancer"> </div>
    <!--胃病-->
    <div id="stomach"></div>
    <!--糖尿病科-->
    <div id="diabetes"></div>
    <!--心血管科-->
    <div id="cvd"></div>
    <!--肝病科-->
    <div id="liver"></div>
    <!--肾病科-->
    <div id="kidney"></div>
    <!--男科-->
    <div id="man"></div>
    <!--妇科-->
    <div id="woman"></div>
    <!--耳鼻喉科-->
    <div id="ent"></div>
    <!--眼科-->
    <div id="eye"></div>
    <!--口腔科-->
    <div id="mouth"></div>
    <!--神经科-->
    <div id="nerve"></div>
    <!--骨科-->
    <div id="bone"></div>
    <!--泌尿科-->
    <div id="urinary"></div>
    <!--皮肤科-->
    <div id="skin"></div>
    <!--营养科-->
    <div id="nutrition"></div>
    <!--肛肠科-->
    <div id="anorectum"></div>
    <!--整形外科-->
    <div id="plastic"></div>
    <!--不孕不育-->
    <div id="infertility"></div>
    <!--心理科-->
    <div id="psychology"></div>
    <!--育儿-->
    <div id="baby"></div>
    <!--老人-->
    <div id="oldman"></div>
    <!--保健-->
    <div id="care"></div>
    <!--养生-->
    <div id="health"></div>
    <!--减肥-->
    <div id="weight"></div>
    <!--科普-->
    <div id="science"></div>
    <!--体育-->
    <div id="sports"></div>
    <!--社会-->
    <div id="society"></div>
    <!--科技-->
    <div id="technology"></div>
    <!--时尚-->
    <div id="cancer"></div>
    <!--肿瘤科-->
    <div id="fashion"></div>
    <!--军事-->
    <div id="military"></div>
    <!--财经-->
    <div id="economy"></div>
    <!--美食-->
    <div id="cate"></div>

</div>


<!-- Lodash scripts -->

<script src="{% static 'js/news/news_home.js'%}"></script>

{% endblock %}