<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>雪君在线</title>
    {% load staticfiles %}
    <link href="{% static 'bootstrap/3.3.0/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/snow.css'%}" rel="stylesheet">

</head>
<body>
    <div>
        {% include 'header.html' %}
        <div>
            {% include 'menu.html' %}
            {% block data %}{% endblock %}
        </div>
        {% include 'footer.html' %}

    </div>

</body>
</html>


<!-- Mainly scripts -->
<script src="{% static 'js/jquery-2.1.1.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
